{
  "packages": [
    {
      "name": "energia",
      "maintainer": "Energia",
      "websiteURL": "http://www.energia.nu/",
      "email": "make@energia.nu",
      "help": {
        "online": "http://energia.nu/reference"
      },
      "platforms": [
      ],
      "tools": [
      ]
    }
  ]
}